{{> header}}
<div class="content">
    <br>
    <center>
        <h3 style="font-style: italic;">Update Department</h3>
    </center>
    <br><br>
    <center>
        <form name="DeptForm" onsubmit="return ValidateDeptUpdate()" action="/department/update" method="POST" autocomplete="off" id="add_dept">
            <div class="form-group">
                <input type="text" class="form-control" readOnly="true" name="deptCode" placeholder="Department Code"
                    value="{{docs._id}}">
            </div>
            <br>
            <div class="form-group">
                <input type="text" class="form-control" id="deptName" name="deptName"
                    placeholder="Enter Department Name" value="{{docs.deptName}}">
            </div>
            <br>
            <div class="form-group">
                <center><button type="submit" class="btn btn-info"><i style="color:white" class="fa fa-edit"
                            aria-hidden="true"></i>&nbsp;Update</button></center>
            </div>
        </form>
    </center>

    <!-- include footer -->
    {{> footer}}
    <!-- /include footer -->
</div>