<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NodeMongoCRUD</title>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	{{!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"> --}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/style1.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					}, 6000);// 6seconds
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>
</head>
<body>
	<div class="text-center">
		<span style="font-weight: bold;color:white;font-size:20px">A Simple NodeJs ExpressJs MongoDB CRUD Web
			Application</span><br>
		<span style="font-weight: bold;color:#FF3131;font-size:large">Developed By : Indranil Chatterjee</span>
	</div>
	<center>
	<div class="col-md-4 col-md-offset-4" style="background-color: #fff;border-radius:36px;margin-top: 40px;padding:20px;">
		<div>
			<center><h4><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login</h4>
			<div class="mssg bg-danger">
				<span id="check" style="color:orange"></span>
			</div>
			</center>
		</div><br>
		<div class="form-group">
			<form id="form" method="post" autocomplete="off">
				<input style="text-align: center;" type="text" name="email" placeholder="E-mail" required="" class="form-control"><br/>
				<input style="text-align: center;" type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
				<center><input type="submit" value="Login" class="btn btn-success"></center>
			</form>
		</div>
		<center>
			<a href="/home" id="aa"></a>
		<div><span>Do you forgot password?</span><a href="/forgetpass">Click here</a><br>
		    <span>Create a new Account?</span><a href="/register">Register here</a>
		</div><br>
		</center>
	</div>
</center>
</body>
</html>