@import url("https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap");

:root {
  --dark: #2b2d42;
  --light: #adb5bd;
  --border: #dee2e6;
  --border-btn: #edf2f4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*---------------------------------*/
#header nav {
  /* background-color: #06d6a0; */

  padding: 1em 0;
  width: 100%;
}
.container {
  max-width: 1024px;
  /* max-width: 575px; */
  margin: auto;
  color: crimson;
}
.text-center {
  text-align: center;
}
.nav-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: whitesmoke;
}
.border-shadow {
  border: 1px solid var(--border-btn);
  box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark {
  color: var(--dark);
}
.text-gradient {
  color: black;
  /* background: linear-gradient(to right, #8e2de2, #4a00e0); */
  -webkit-background-clip: text;
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
}
a {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}
/* a :hover {
  color: white;
  text-decoration: none;
} */
.bgcolor {
  background-color: cornflowerblue;
}

.pagination {
  justify-content: center;
  display: flex;
}
.pagination ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
} */

/* li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: Tahoma;
  padding: 12px 6px;
  text-decoration: none;
} */

/* li a:hover {
  background-color: #4caf50;
  color: white;
  text-decoration: none;
} */

.css-serial {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
}
p {
  color: red;
  font-size: 10px;
  font-weight: 700;
}
tr:nth-child(odd) {
  background-color: lightcyan;
}
tr:nth-child(even) {
  background-color: peachpuff;
}
.mssg {
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 5px;
}
.footer {
  font-size: small;
  font-weight: bold;
  color: chocolate;
}
.regForm input {
  margin-bottom: 4px;
  text-align: center;
}
